<div style="max-width: 400px; margin: 50vh auto; transform: translateY(-50%); padding: 20px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
  <form action="/auth/login" method="post">
    <div class="form-group required">
      <label for="master_password" class="control-label">Master password ⏎</label>
      <input 
        type="password" 
        name="master_password" 
        id="master_password" 
        class="form-control"
        required
        autofocus
      />
    </div>
    
    <input type="hidden" name="_csrf_token" value={Plug.CSRFProtection.get_csrf_token()} />
  </form>
</div>